@model PetApplication.Models.PetAnimal

@{
    ViewBag.Title = "Details";
}


<div class="container container-table">
    @*<div id="bannerImage" style="margin-left:20%;">*@
        @*<img src="~/Images/banner.jpg" />*@

    @*</div>*@
    @*<div style="margin-top:5%;">
        <dl class="dl-horizontal" style="margin-left:30% auto;">*@
            @*<dt>
                    @Html.DisplayNameFor(model => model.PetImageUrl)
                </dt>*@

            @*<dd>*@
                @*@Html.DisplayFor(model => model.PetImageUrl)*@
                @*<img  class="col-sm-5 embed-responsive" src="@Url.Content(Model.ImageUrl)" />*@
                @*@Html.DisplayFor(model => model.PetImageUrl)*@

            @*</dd>
        </dl>

        <hr />

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PetType.PetTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PetType.PetTypeName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ShortCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Color)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Color)
            </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ImageUrl)
                </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.Quantity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantity)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Details)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.IsSold)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IsSold)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Area)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Area)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Division)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Division)
            </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.PetTypeName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PetTypeName)
            </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.CreateBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>

        </dl>
    </div>*@
    @*<p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>*@

    @*<p class="btn-group btn-group-sm" role="group">
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) &nbsp;
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })&nbsp;
        @Html.ActionLink("Report", "Create", "PostReports", new { id = Model.Id }, new { @class = "btn btn-danger" }) &nbsp;
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
    </p>*@

    @*New details start*@
    <div class="single-product-area section-padding-100 clearfix">
        <div class="container-fluid">     
            <div class="row">
                <div class="col-12 col-lg-7">
                    <div class="single_product_thumb">
                        <div id="product_details_slider" class="carousel slide" data-ride="carousel">                            
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <a class="gallery_img" href="@Url.Content(Model.ImageUrl)">
                                        <img class="d-block w-100" src="@Url.Content(Model.ImageUrl)" alt="First slide">
                                    </a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-lg-5">
                    <div class="single_product_desc">
                        <!-- Product Meta Data -->
                        <div class="product-meta-data">
                            <div class="line"></div>
                            <p class="product-price">৳@Html.DisplayFor(model => model.Price)</p>
                            <a href="">
                                <h6>@Html.DisplayFor(model => model.Name)</h6>
                            </a>
                            <!-- Ratings & Review -->
                            <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                </div>
                                @*<div class="review">
                                    <a href="#">Write A Review</a>
                                </div>*@
                            </div>
                            <!-- Avaiable -->
                            @if(Model.IsSold == false){
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            }
                            else
                            {
                                <p ><img src="~/Images/PetImage/sold.jpg" /> </p>
                            }

                        </div>
                        <div class="">
                            <div class="short_overview my-2">
                                <p>Type: @Html.DisplayFor(model => model.PetType.PetTypeName)</p>
                            </div>
                            <div class="short_overview my-2">
                                <p>Age : @Html.DisplayFor(model => model.Age) months</p>
                            </div>
                            <div class="cart-btn d-flex mb-2">
                                <p>Qty: @Html.DisplayFor(model => model.Quantity)</p>
                            </div>
                            <div class="short_overview my-2">
                                <p>Color: @Html.DisplayFor(model => model.Color)</p>
                            </div>
                            <div class="short_overview my-2">
                                <p>Details: @Html.DisplayFor(model => model.Details)</p>
                            </div>
                            <div class="short_overview my-2">
                                <p style="padding:5 15px">Locatoin: @Html.DisplayFor(model => model.Area),@Html.DisplayFor(model => model.City),@Html.DisplayFor(model => model.Division) </p>                            
                            </div> 
                            <div class="short_overview my-2">
                                <p onclick="toggle_visibility('foo');">Phone: ********<span id="foo" style="display:none;">@Html.DisplayFor(model => model.PhoneNumber)</span></p>
                            </div>
                            <div class="short_overview my-2">
                                <p>Email: @Html.DisplayFor(model => model.Email)</p>
                            </div>
                            <div class="short_overview my-2">
                                <p>Create Date: @Html.DisplayFor(model => model.CreateDate)</p>
                            </div>
                        </div>
                        <p class="btn-group btn-group-sm" role="group">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" }) &nbsp;
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })&nbsp;
                        @Html.ActionLink("Report", "Create", "PostReports", new { id = Model.Id }, new { @class = "btn btn-danger" }) &nbsp;
                        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
                        </p>
                        <!-- Add to Cart Form -->
                        @*<form class="cart clearfix" method="post">
                            
                            <button type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                        </form>*@


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
<!--
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
//-->
</script>