@model IEnumerable<PetApplication.Models.PostReport>

@{
    ViewBag.Title = "Index";
}

<div class="container container-table">
    <div id="bannerImage" style="margin-left:20%;">
        <img src="~/Images/banner.jpg" />
    </div>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PetPost.PetDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Report)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PetPost.PetDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Report)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.ReportID }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.ReportID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ReportID })
                </td>
            </tr>
        }

    </table>
</div>